
/* Header Box */
.head {
    font-family: "Georgia", Times, Times New Roman, serif;
    width: 100%;
    height: auto;
    border-color: silver;
    border-bottom: solid 5px #ccc;
    background-color: #fff;
    
}

 /* Name element */

 .banner {
     padding: 0;
 }

 .name {
    background-color: #4aaaa5;
    color: #FDFEFE;
    text-align: center;
    font-size: 40px;
    height: auto;
    margin-bottom: 0;
    
 }

 /* Styling for links to "About, Project Gallery and Contact Me" */
.pages {

    font-size: 16px;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: silver;
    padding-top: 20px;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

/*  Inline UL for page links */
.pages li {
    display: inline;
    margin: 3px;
    align-content: center;
}

/* styling for Project Gallery link - border on sides */
.port {
    border-color: silver;
    padding: 0 5px 0 5px;
    border-left: solid 2px;
    border-right: solid 2px;
}

/* Styling for Center Box Context */

/* styling for big background box*/
.background {
    width: 100%;
    height: auto;
    background-image: url("../images/circles-light.png");
    background-size: 100% auto;
}

/* Styling for Personal Information Box */

/* Outline of Personal Info box */
.bio {
    height: auto;
    border: 3px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
} 

/* top banner of Personal Info box */
.aboutme {
    height: 45px;
    border-bottom: 2px solid #ddd;
    font-size: 30px;
    font-weight: bold;
    color: #4aaaa5;
    }

    /*  positioning for 'about me' text */
#am {
    font-family: "Georgia", Times, Times New Roman, serif;
    top: 15px;
    font: #4aaaa5;
}



/* image in PIB */
#image {
    height: 250px;
    width: 350px;
    margin: 10px 10px 10px 10px;

}

/* text in PIB */

.text {
    font-size: 16px;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    margin-left: 10px;
    margin-right: 10px;
}

/* Connect with Me Box */

.contact {
    height: auto;
    background-color: #4aaaa5;
    border: 3px solid #ccc;
    margin-bottom: 15px;

    
}
 
/* style for Connect with me Text box */
.connectme {
    font-family: "Georgia", Times, Times New Roman, serif;
    border-bottom: 2px solid #ddd;
    font-size: 22px;
    padding-left: 25px;
    margin-top: 2px;
    color: #FDFEFE;
}

/* styling for links as a group in CwM Box*/

 .links {
     margin-top: 10px;
     padding-left: 30px;
    }
 
 .logo {
     height: 45px;
     width: 45px;
     margin: 3px;
 }

/*  Inline Links */
.links li {
    display: inline-block;
}


/* Project Gallery Page */

/* Project Gallery photo box */

.pictures {
    height: auto;
    border: 3px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
} 

    /*  positioning for 'Project Gallery' banner - styling uses .aboutme from index page */

.pgheader {
    height: 45px;
    border-bottom: 2px solid #ddd;
 }

#pg {
    font-family: "Georgia", Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 25px;
    font-weight: bold;
    top: 15px;
}

/* Picture Formatting */

.portpics {
    height: 150px;
    margin-top: 10px;
    width: 75%;
    margin-left: 12.5%;
}

.centered {
    position: absolute;
    top: 60%;
    left: 30%;
    margin: 0 auto;
    font-family: "Georgia", Times, Times New Roman, serif;
    color: #FDFEFE;
    font-size: 20px;
    font-weight: bold;
}

/* Contact Page */


/* Contact Box */

.form {
    height: auto;
    border: 3px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
} 

/* Contact Header */

.cmheader {
    height: 45px;
    border-bottom: 2px solid #ddd;
 }

#cm {
    font-family: "Georgia", Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    top: 15px;
}

/* Contact  Input Text */
.labeltext {
    font-size: 16px;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
}


/* Contact Button */

.btn {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #FDFEFE;
    font-weight: bold;
    background: #4aaaa5;
    margin-bottom: 10px;

}
    


/* Footer*/

.foot {
    width: 100%;
    height: 70px;
    border-color: silver;
    background-color: #666;
    bottom: 0;
    border-bottom: 5px solid #ccc;
}

.crtext {
    color: #FDFEFE;
    text-align: center;
    margin-top: 20px;
}